
/*Header*/
.header{
    font-family: "Cedarville Cursive", cursive;
    margin-left: 100px;
    border-radius: 10px;
    background-color: #B4CFEC;
}

/*------------------------------------------------------*/

/*Body*/
body{
    background-color: #C2DFFF;
}

/*Para text*/
.para{
    font-family: "Cedarville Cursive", cursive;
    font-size: 1.5pc;
}

/*Text Box 1*/
#txtbox{
    border: #B4CFEC dotted;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-right: 10px;
}
    /*Link 1 within Text Box 1*/
.link1{
    font-family: "Cedarville Cursive", cursive;
    font-size: 1.5pc;
    text-decoration: none;
    color: #0020C2;
}
.link1:hover{
    color: #1E90FF;
    border-radius: 8px;
    background-color: #B4CFEC;
}

    /*p2 within Text Box 1*/
#p2{
    position: absolute;
    top: 555px;
}

/*Food box*/
#foodbox{
    position: absolute;
    left: 900px;
    top: 100px;
    border: #B4CFEC dotted;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-right: 10px;
}
img{
    border-radius: 20px;
    box-shadow: 1px 2px 8px #2B547E;
}
